/* You can add global styles to this file, and also import other style files */
@use "bootstrap/scss/bootstrap" as *;

/* その他のグローバルスタイル */
body {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}